.axis {
    font-size: .8em;
}

.axis line, .axis path {
    fill: none;
    stroke: #111;
}

.y.axis path {
    display: none;
}

.y.axis text {
    display: none;
}

.tick line {
    stroke-dasharray: 5,5;
}

.event .connector {
    stroke-width: 1;
    stroke: #888;
}

.innerChart .opaque {
    fill: white;
}

.display {
    margin: 40 0 0 40;
    float: center;
}

@font-face {
    font-family: "liberation sans"; 
    src: url('/static/LiberationSans-Regular.ttf');
}
@font-face {
    font-family: "liberation bold"; 
    src: url('/static/LiberationSans-Bold.ttf');
}

body {
    font-family: "liberation sans"
}
.display {
    margin: 10 0 10 20;
    border-bottom: 5px double #CCC;
    position: relative;
}

.display .body {
    margin-top: 10px;
}

.display .title {
    font-size: 1.5em;
    font-family: "liberation bold";
    border-bottom: 2px solid #CCC;
    margin-bottom: 0px;
}

.display .subtext {
    font-size: .8em;
    margin: 5 0 0 10;
    height: 20px;
}

.display .author {
    font-family: "liberation bold";
    overflow: hidden;
    float: left;
    margin-right: 15px;
}

.display .date {
    display: inline;
}

.issueContainer {
    opacity: .7;
    font-size: .7em;
    position: absolute;
    right: 1;
    bottom: 2;
}

.issueContainer div {
    margin-bottom: 3px;
    background-color:#DDD;
    -moz-background-clip: padding;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    border: 2px solid #DDD;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    padding: 2px;
    padding-top: 4px;
    -webkit-box-shadow: #B3B3B3 1px 0px 0px;
    -moz-box-shadow: #B3B3B3 1px 1px 0px;
    box-shadow: #B3B3B3 1px 1px 0px;
    text-align: center;
    width: 100px;
    height: 15px;
    whitespace: nowrap;
    overflow: hidden;
}


.context rect {
    fill: #777;
    opacity: .7;
    border-radius: 2px;
    border-right: 2px solid black;
    border-left: 2px solid black;
    padding: 2px;
}

