<html>
  <head>
    <script src="http://cdnjs.cloudflare.com/ajax/libs/d3/3.3.13/d3.js" ></script>
  </head>
  <body>
  hello world!
  <svg id=timeline > </svg>
  <script>
    var url = "/data"
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open("GET", url, false);
    xmlHttp.send(null);
    var tFormat = d3.time.format("%Y-%m");
    var testData = JSON.parse(xmlHttp.responseText, function(key, value){
      if (key === "date") {
        return tFormat.parse(value);
      } else {
        return value
      }
    });

    document.write(testData);
  </script>
</body>
</html>
